@charset "utf-8";

html{
    font-size: 15px;
}

/* scroll */
.scroll{
    position:relative;
    /* background:url('../images/common/bg_scroll.png') 100% 0 repeat-y; */
    padding-right:5px
}

.scroll::-webkit-scrollbar-track{
    border-radius:10px;
    background-color:transparent
}

.scroll::-webkit-scrollbar{
    width:5px;
    background-color:transparent
}

.scroll::-webkit-scrollbar-thumb{
    border-radius:10px;
    background-color:#d8d8d8
}

.scroll::-webkit-scrollbar-button{
    width:5px;
    height:10px;
    background-color: transparent;
}

/* datepicker */
.datepicker{
    width: 250px;
}

.datepicker table tr td.old{
    color: #ccc;
}

.datepicker table tr td.active.active{
    background: #517BDC;
}

/* common class */
.one-m-font{
    font-family: 'onemobile';
}

.flx-jc-sb-ai-cn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flx-ai-cn{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* login */
#wrap{
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 1200px;
    overflow: hidden;
}

.login-bg{
    background: url(../img/contents/img-login-bg.png) no-repeat center / cover;
}

.login-wrap{
    width: 1400px;
    height: auto;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), #fff 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    padding: 80px;
}

.login-wrap > div{
    gap: 100px;
}

.log-lf-img{
    width: 580px;
    height: 478px;
}

.log-lf-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.log-int-container{
    width: calc(100% - 580px);
    padding: 0 120px;
}

.form-control.int-round{
    width: 100%;
    height: 54px;
    border-radius: 100px;
    border: 1px solid #707070;
    padding-left: 20px;
    color: #4D4E47;
}

input.form-control.int-round::placeholder{
    color: #C5C6BB;
}

.form-check-input{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin: -2px 5px 0 0;
    color: #000;
    vertical-align: middle;
    border: 1px solid #707070;
}

.btn-primary.log-gra{
    width: 100%;
    height: 54px;
    border-radius: 100px;
    font-size: 1.2em;
}

.btn-primary.sch-btn{
    height: 30px;
    background: #517BDC;
    font-size: .93em;
    padding: 0 15px;
}

.btn-primary.sch-btn::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/common/ico-sch-green.png) no-repeat;
    vertical-align: middle;
    margin: -2px 5px 0 0;
}

.copyright{
    font-size: 0.93em;
    color: #7A7A7A;
    text-align: center;
}

/* main */
.header{
    width: 100%;
    height: 100px;
}

.header .tp{
    height: 60px;
    padding: 0 20px;
}

.header .tp > ul{
    display: flex;
    align-items: center;
}

.header .tp .menu-d1 > ul{
    display: flex;
}

.header .tp .menu-d1 > ul > li{
    position: relative;
}

.header .tp .menu-d1 > ul > li > a{
    height: 60px;
    font-size: 1.07em;
    color: #130D39;
    padding: 0 25px;
    display: flex;
    justify-self: center;
    align-items: center;
    transition: all .3s;
}

.header .tp .menu-d1 > ul > li.active > a{
    background: #517BDC;
    color: #fff;
}

.header .tp .menu-d1 > ul > li > a::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    margin: -2px 5px 0 0;
}

.header .tp .menu-d1 > ul > li.search > a::before{
    background-image: url(../img/common/ico-menu-search.png);
}

.header .tp .menu-d1 > ul > li.search.active > a::before{
    background-image: url(../img/common/ico-menu-search-active.png);
}

.header .tp .menu-d1 > ul > li.analyze > a::before{
    background-image: url(../img/common/ico-menu-analyze.png);
}

.header .tp .menu-d1 > ul > li.analyze.active > a::before{
    background-image: url(../img/common/ico-menu-analyze-active.png);
}

.header .tp .menu-d1 > ul > li.manage > a::before{
    background-image: url(../img/common/ico-menu-manage.png);
}

.header .tp .menu-d1 > ul > li.manage.active > a::before{
    background-image: url(../img/common/ico-menu-manage-active.png);
}

.header .tp .menu-d1 > ul > li.infra > a::before{
    background-image: url(../img/common/ico-menu-infra.png);
}

.header .tp .menu-d1 > ul > li.infra.active > a::before{
    background-image: url(../img/common/ico-menu-infra-active.png);
}

.header .tp .menu-d1 > ul > li.emergency > a::before{
    background-image: url(../img/common/ico-menu-emergency.png);
}

.header .tp .menu-d1 > ul > li.emergency.active > a::before{
    background-image: url(../img/common/ico-menu-emergency-active.png);
}

.header .tp .menu-d1 > ul > li.admin > a::before{
    background-image: url(../img/common/ico-menu-admin.png);
}

.header .tp .menu-d1 > ul > li.admin.active > a::before{
    background-image: url(../img/common/ico-menu-admin-active.png);
}

.header .tp .menu-d2{
    width: 40vw;
    position: absolute;
    margin-top: 10px;
    display: none;
}

.header .tp .menu-d1 > ul > li.active .menu-d2{
    display: block;
}

.header .tp .menu-d2 > ul{
    display: flex;
}

.header .tp .menu-d2 > ul > li{
    margin-right: 30px;
}

.header .tp .menu-d2 > ul > li > a{
    font-size: 0.93em;
    color: #130D39;
}

.header .tp .menu-d2 > ul > li > a:hover{
    font-weight: 600;
    text-decoration: underline;
}

.header .tp .menu-d2 > ul > li.active > a{
    font-weight: 600;
    text-decoration: underline;
}

.header .hd-logo a{
    width: 200px;
    height: 28px;
}

.header .hd-logo a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hambuger-btn{
    width: 16px;
    height: 16px;
    background: url(../img/common/ico-hambuger.png) no-repeat center;
    margin: 5px 20px 0 10px;
}

.logout{
    width: 95px;
    height: 34px;
    border-radius: 17px;
    font-size: 0.8em;
    background: #517BDC;
    color: #fff;
    transition: all .3s;
}

.logout::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/common/ico-logout.png) no-repeat;
    vertical-align: middle;
    margin: -2px 5px 0 0;
}

.logout:hover{
    background: #4264B3;
}

.header .bt{
    height: 40px;
    background: #E6EEF5;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

/* contents */
.contents-container{
    width: 100%;
    height: calc(100% - 60px - 40px);
    position: relative;
}

.box-arrow{
    width: 20px;
    height: 40px;
    border-radius: 0 6px 6px 0;
    background: #2A5AC8;
}

.box-arrow::before{
    content: '';
    display: block;
    width: 6px;
    height: 12px;
    background: url(../img/common/ico-lnb-box-arrow.png) no-repeat center;
    transition: all .5s;
    transform: rotate(180deg);
}

.lnb-bx-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
}

.lnb-bx-btn{
    left: 300px;
}

.lnb-bx-btn.active{
    margin-left: 0;
}

.lnb-bx-btn.active .box-arrow::before{
    transform: rotate(0);
}

.lnb{
    width: 300px;
    height: 100%;
    padding: 20px;
    background: #517BDC;
    position: absolute;
    left: -300px;
    top: 0;
    transition: all .3s;
}

.lnb.active{
    left: 0;
}

.depth-3 > ul{
    display: none;
}

.depth-3 > ul.active{
    display: block;
}

.depth-3 li{
    margin-bottom: 10px;
}

.depth-3 li:last-child{
    margin-bottom: 0;
}

.depth-3 a{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: #2A5AC8;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #fff;
    font-size: 0.93em;
    transition: all .3s;
}

.depth-3 a::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/common/ico-dep3-blt.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.depth-3 a:hover{
    background-color: #fff;
    color: #28272D;
}

.depth-3 li.active a{
    background-color: #fff;
    color: #28272D;
}

.depth-3 a:hover::before{
    background-image: url(../img/common/ico-dep3-blt-active.png);
}

.depth-3 li.active a::before{
    background-image: url(../img/common/ico-dep3-blt-active.png);
}

.cont-box{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    transition: all .3s;
}

.cont-box.active{
    width: calc(100% - 300px);
}

.cont-box > div{
    width: 100%;
    height: 100%;
    position: relative;
}

.cont-box .footer{
    width: 100%;
    height: 40px;
    background: #C4C4C9;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    color: #52515D;
}

.right-hidden{
    width: 300px;
    height: 100%;
    padding: 20px;
    background: #517BDC;
    position: absolute;
    right: -300px;
    top: 0;
    transition: all .3s;
}

.right-hidden.active{
    right: 0;
}

.rh-bx-btn{
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(calc(-50%)) rotate(180deg);
    margin-top: 50px;
    z-index: 500;
}

.rh-bx-btn.active .box-arrow::before{
    transform: rotate(0);
}

.substance{
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}

.sbs-inner{
    width: 100%;
    height: 100%;
    padding: 20px 50px;
}

.map-area{
    width: 100%;
    height: 100%;
}

.map-area iframe{
    width: 100%;
    height: 100%;
}

.map-area > .map{
    width: 100%;
    height: 100%;
}

.int-gr{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #D4D4D4;
} 

.int-gr > div:first-child{
    width: calc(100% - 110px);
}

.int-gr.flx-jc-sb-ai-cn{
    gap: 20px;
}

.int-gr .form-label{
    color: #2D2C34;
    margin-right: 10px;
    margin-bottom: 0;
}

.int-gr .form-select{
    width: 120px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #5F5E6A;
    font-size: .93em;
    padding: 0 0 0 10px
}

.int-gr .form-control{
    width: 130px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #5F5E6A;
    font-size: .93em;
    padding: 0 0 0 10px
}

.int-gr .form-control.dtpk{
    /* background: url(../img/common/ico-calendar.png) no-repeat center right 10px; */
    cursor: pointer;
}

.tit-big{
    font-size: 1.2em;
    color: #2D2C34;
}

.bus-route > li{
    margin-bottom: 10px;
}

.bus-route > li:last-child{
    margin-bottom: 0;
}

.bus-route > li > a{
    width: 100%;
    height: 52px;
    border-radius: 12px;
    border: 1px solid #E1E9EC;
    background: #F2F5F6;
    padding: 0 30px;
    color: #676B77;
    transition: all .5s;
}

.bus-route > li:hover > a{
    background: #fff;
    border: 3px solid #517BDC;
}

.bus-route > li:hover .bl-txt{
    color: #517BDC;
}

.bus-route .ar-ft::after{
    content: '';
    display: inline-block;
    width: 24px;
    height: 10px;
    background: url(../img/common/ico-bus-rt-arrow.png) no-repeat;
    margin: 0 20px
}

.bus-route .bl-txt{
    width: 120px;
    font-size: 1.07em;
    font-weight: 500;
}

.bus-route .dtl-inf li{
    margin-right: 50px;
}

.bus-route .dtl-inf li:last-child{
    margin-right: 0;
}

.bus-route .dtl-inf li b{
    margin-left: 10px;
    color: #2D2C34;
}

.txt-list > li{
    font-size: .93em;
}

.txt-list > li b{
    margin-left: 10px;
}

.txt-list > li::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #707070;
    margin: 0 15px;
}

.txt-list > li:last-child:after{
    display: none;
}

.table-container{
    width: 100%;
    font-size: .93em;
    text-align: center;
}

.table-container tr{
    border-bottom: 1px solid #BBBEC7;
}

.table-container th{
    height: 38px;
    background: #D4DBEB;
    font-weight: 600;
    border-right: 1px solid #BBBEC7;
}

.table-container th:last-child{
    border: none;
}

.table-container td{
    height: 38px;
    border-right: 1px solid #BBBEC7;
}

.table-container td:last-child{
    border: none;
}

.table-container td.right{
    text-align: right;
    padding-right : 20px;
}

.chart-area{
    width: 100%;
    padding: 20px;
    border: 1px solid #D4D4D4;
    border-radius: 8px;
}

/* 준비중 페이지, 에러 페이지 */

.notice-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notice-wrap .img-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.notice-wrap .img-cont > div{
    width: 320px;
    height: 320px;
    position: relative;
}

.notice-wrap .img-cont img:first-child{
    position: absolute;
    left: 0;
    top: 20px;
}

.notice-wrap .title{
    font-size: 3em;
}

.notice-wrap .back-btn{
    margin-top: 80px;
    height: 46px;
    padding: 0 18px;
    border-radius: 27px;
    background: #517BDC;
    color: #fff;
    font-weight: 400;
    transition: all .5s;
}

.notice-wrap .back-btn:hover{
    background: #3D5DA6;
}

.notice-wrap .back-btn::before{
    content: '';
    display: inline-block;
    width: 11px;
    height: 12px;
    background: url(../img/common/ico-back-arrow.png) no-repeat;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
}